@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&family=Montserrat:wght@100&family=Poppins:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}
  
/* background image */
.background-slider {
    width: 100%;
    height: 600px; 
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 50%; */
    transform: translate(-70%, -70%);
    text-align: left;
    color: white;
}

.banner-content h6 {
    color: #111111;
    font-family: 'Montserrat_reg';
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 150px;
}

.banner-content h2 {
    color: #fff;
    font-family: 'FredokaOne_reg';
    font-size: 53px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0px 50px 0px 7px;
    margin-bottom: 20px;
    background: green;
    background: linear-gradient(to right, rgb(6, 226, 193) 0%, rgb(33, 178, 108) 32%, rgba(119, 212, 103, 1) 61%, rgb(9, 214, 16) 100%);
}
.banner-content p {
    width: 60%;
    color: black;
    font-weight: 500;
    font-size: 19px;
    padding-bottom: 35px;
}

/* about the daycare */
.bigBox {
    width: 100%;
    padding: 60px 0 0;
    float: left;
    padding-bottom: 10px;
}
.aboutSection {
    width: 1170px;
    background: transparent;
    padding: 0px 15px;
    margin: 0 auto;
    height: auto;
}
.leftSide {
    float: left;
    width: 70%;
    padding: 0 30px 0 0;
    box-sizing: border-box;
}
.leftSide h1 {
    color: brown;
    font-size: 40px;
    font-family: 'Dosis_bold';
    text-transform: uppercase;
    padding: 0 0 10px;
    margin: 0;
}
.leftSide p {
    padding: 10px 0;
    color: #111;
    font-family: 'Montserrat_reg';
    text-align: left;
    font-size: 17px;
    padding-bottom: 15px;
}

.leftSide h3, .leftSide h2, .leftSide h1 {
    padding: 10px 0 10px 0;
    text-align: left;
    text-align: left;
    text-transform: uppercase;
}
.leftSide ul {
    margin: 0;
    padding: 0 0 15px;
}
ol, ul {
    list-style: none;
}
.leftSide li {
    color: #858585;
    font-family: 'Montserrat_reg';
    font-size: 15px;
    padding-bottom: 5px;
    position: relative;
    margin-left: 15px;
    text-align: left;
}
.leftSide li:before {
    content: '\2713'; 
    font-family: 'FontAwesome';
    font-size: 16px;
    color: #0CC;
    position: absolute;
    left: -15px;
}
.line {
    font-size: 0;
    line-height: 0;
    clear: both;
}
.rightSide {
    float: left;
    width: 30%;
    padding: 0;
    box-sizing: border-box;
}
.rightSide h3 {
    color: #11BDD0;
    font-size: 27px;
    font-family: 'Dosis_bold';
    text-transform: uppercase;
    padding: 0 0 10px;
    margin: 20px 0 0 0;
}
.rightSide ul {
    margin: 0;
    padding: 0;
}
.rightSide ul li {
    float: left;
    width: 100%;
}
.rightSide ul li span {
    display: block;
    font: normal 17px / 25px 'Montserrat_reg';
    color: #a1cc3a;
    text-decoration: none;
    box-sizing: border-box;
    padding: 5px 5px 5px 50px;
    margin: 16px 0;
    position: relative;
}
.underline {
    background: #e0e0e0;
    width: 100%;
    height: 1px;
    margin: 0 auto;
}

.gallery-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* qualified */
.qualified {
    width: 100%;
    padding: 65px 0;
    background: #fff;
    overflow: hidden;
}
.parts:nth-last-of-type(2) {
    text-align: right;
    position: relative;
}
.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.parts {
    width: 50%;
    float: left;
}
.parts p {
    color: #777;
    font-family: 'Montserrat_reg';
    font-size: 13px;
    padding: 15px 0 0px 30px;
}
.parts a {
    text-decoration: none;
    color: rgb(2, 216, 251);
}
.black_text span {
    color: #111 !important;
    font-size: 15px !important;
    margin-right: 247px;
}
.parts p img {
    margin: 0 7px 15px;
}
.black_text img {
    margin-left: 80px !important;
    margin-top: -40px !important;
    margin-bottom: -40px !important;
    z-index: 1;
    position: absolute;
    right: 20px;
}
.black_text img {
    max-width: 100%;
    height: auto;
}
.parts h3 {
    padding: 0px 70px 0px 15px;
    color: #fff;
    font-family: 'Montserrat_reg';
    font-size: 51px;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 70px;
    background: green;
    background: linear-gradient(to right, rgb(6, 226, 193) 0%, rgb(33, 178, 108) 32%, rgba(119, 212, 103, 1) 61%, rgb(9, 214, 16) 100%);
}
.parts h5 {
    color: #13d3d7;
    font-family: 'Montserrat_reg';
    font-size: 51px;
    display: block;
    text-transform: uppercase;
    margin-right: 95px;
    margin-bottom: 0px;
}
.left-text {
    text-align: left;
    position: absolute;
    right: 50px;
}

.parts:nth-last-of-type(1) {
    text-align: left;
}
.parts h4 {
    color: #858585;
    font-size: 27px;
    font-family: 'Dosis_bold';
    text-transform: uppercase;
    padding-left: 30px;
    padding-bottom: 20px;
}
.parts p {
    color: #777;
    font-family: 'Montserrat_reg';
    font-size: 13px;
    padding: 15px 0 0px 30px;
}

/* programs */
.programs {
    width: 100%;
    overflow: hidden;
}
.programParts {
    width: 33.33%;
    display: block;
    float: left;
    padding: 0px 0;
    position: relative;
}
.programParts img {
    width: 100%;
    height: auto;
}
.bottomText {
    padding: 30px 0;
    position: absolute;
    bottom: 4px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    flex-direction: column; /* Align items in a column */
    justify-content: flex-start; /* Align items vertically to the start */
    align-items: flex-start;
}
.bottomText h2 {
    color: #fff;
    font-family: 'Dosis_smBold';
    font-size: 48px;
    text-align: left;
    text-transform: capitalize;
    padding: 0 0 20px 40px;
    margin: 0;
}
.bottomText p {
    color: #fff;
    font-family: 'Montserrat_reg';
    font-size: 15px;
    text-align: left;
    text-transform: capitalize;
    padding: 0 40px 30px 40px;
    margin: 0;
}
.bottomText a {
    color: rgb(2, 216, 251);;
    font-family: 'Montserrat_reg';
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 0px 20px 40px;
    margin: 0;
    text-decoration: none;
}

.overlayText {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 4px;
    width: 100%;
    height: auto;
    padding: 160px 0 10px;
    text-align: center;
    background: linear-gradient(to bottom, rgba(74, 93, 136, 0.7) 0%, rgba(74, 93, 136, 0.7) 100%);
}
.programParts:hover .bottomText {
    opacity: 0;
}

.programParts:hover .overlayText {
    opacity: 1;
}

.overlayText p {
    color: #fff;
    font-family: 'Montserrat_reg';
    font-size: 17px;
    text-transform: uppercase;
    padding: 0 40px 10px 40px;
    line-height: 30px;
}
.overlayText h4 {
    color: #fff;
    font-family: 'Montserrat_reg';
    font-size: 24px;
    text-transform: uppercase;
    padding: 0 100px 50px 100px;
    line-height: 30px;
}
.overlayText a {
    color: #03d7f9;
    font-family: 'Montserrat_reg';
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 100px 100px 100px;
    line-height: 30px;
    text-decoration: none;
}


/* testimonials */

/* Location */
.mapSection {
    width: 100%;
    background: #fff;
    background-size: cover;
    height: 327px;
    position: relative;
    float: left;
}
.mapSection iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* contact us */
.contactSection {
    width: 100%;
    position: relative;
    float: left;
    background: #E4EAEF;
}
.contactSection .rightCBlock {
    width: 100%;
    position: relative;
    background: #E4EAEF;
}
.contactSection .rightCBlock .desc {
    width: 60%;
    position: relative;
    margin: 80px auto;
    padding: 35px 35px;
    background: #fff;
    box-shadow: 0 0 10px #f1f1f1;
}
.contactSection .rightCBlock h1 {
    font: 40px 'orkneybold';
    color: #000;
    margin-bottom: 15px;
}

form {
    width: 70%;
    margin: 0 auto;
}

form div {
    margin-bottom: 20px;
    position: relative;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.3s ease;
}
input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder,
textarea:focus::placeholder {
    top: -20px; 
    font-size: 12px; 
    color: #555; 
}
input[type="message"],
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.3s ease;
    height: 200px;
}
input[type="message"]:focus::placeholder,
textarea:focus::placeholder {
    top: -20px; 
    font-size: 12px; 
    color: #555; 
}
button {
    background-color: green;
    color: black;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    text-transform: uppercase;
}

button:hover {
    background-color: brown;
}
.thank-you-message {
    margin-top: 1rem;
    color: green; 
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    /* Background image */
    .background-slider {
        width: 100%;
        height: 600px; 
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .banner-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        text-align: left;
        color: white;
    }
    .banner-content h6 {
        color: #111111;
        font-size: 18px;
        text-transform: capitalize;
        margin-bottom: 10px;
        margin-top: 150px;
    }
    
    .banner-content h2 {
        color: #fff;
        font-size: 45px;
        text-transform: uppercase;
        display: inline-block;
        padding: 0px 40px 0px 7px;
        margin-bottom: 20px;
    }
    .banner-content p {
        width: 100%;
        color: black;
        font-size: 19px;
        padding-bottom: 35px;
    }
    
    /* about the daycare  */
    .aboutSection {
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
        height: auto;
        display: flex; 
        flex-direction: column; 
    }

    .leftSide {
        width: 100%; 
        padding: 0;
    }

    .leftSide h1 {
        font-size: 28px; 
    }

    .leftSide p {
        font-size: 15px; 
    }

    .rightSide {
        width: 100%; 
        padding: 0;
        margin-bottom: 0.5rem;
        text-align: left; 
    }

    .rightSide h3 {
        font-size: 24px; 
        text-align: left;
    }

    .rightSide ul li span {
        display: block;
        color: #a1cc3a;
        text-decoration: none;
        box-sizing: border-box;
        padding: 5px 5px 5px;
        margin: 16px 0;
        position: relative;
    }
    
    /* programs  */
    .programs {
        width: 100%;
        flex-direction: column;
    }
    .programParts {
        width: 100%;
    }

    /* qualified  */
    .qualified {
        width: 100%;
        padding: 75px 0;
        background: #fff;
    }
    .container {
        width: 100%;
        padding: 0 15px;
        flex-direction: column;
    }
    .parts {
        width: 100%; 
        margin-bottom: 3rem;
    }
    .left-text {
        text-align: center;
        position: relative;
        right: 0;
    }
    .parts p img {
        max-width: 25%;
        height: auto;
        margin: 0 10px 15px;
    }
    .black_text img {
        margin-left: 80px !important;
        margin-top: -25px !important;
        margin-bottom: -40px !important;
        z-index: 1;
        position: absolute;
        right: 10px;
    }
    .parts h3 {
        padding: 0px 60px 0px 10px;
        color: #fff;
        font-size: 40px;
        margin-right: 65px;
    }
    .parts h5 {
        color: #13d3d7;
        font-size: 40px;
        margin-right: 85px;
        margin-bottom: 0px;
    }
    .parts h4 {
        color: #858585;
        font-size: 25px;
        padding-bottom: 20px;
    }
    .parts p {
        color: #777;
        font-size: 13.5px;
        padding: 15px 0 0px 30px;
    }

    /* contact us  */
    .contactSection {
        display: flex;
        flex-direction: column;
    }

    .contactSection .leftCblock,
    .contactSection .rightCBlock {
        width: 100%;
        float: none;
    }

    .contactSection .rightCBlock .desc {
        width: 90%;
        position: relative;
        margin: 80px auto;
        padding: 35px 35px;
        background: #fff;
        box-shadow: 0 0 10px #f1f1f1;
    }
    form {
        width: 100%;
    }
    

}

@media screen and (max-width: 344px) {
    body {
        overflow-x: hidden;
    }

    /* Background image */
    .background-slider {
        width: 100%;
        height: 600px; 
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .banner-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        text-align: left;
        color: white;
    }
    .banner-content h6 {
        color: #111111;
        font-size: 18px;
        text-transform: capitalize;
        margin-bottom: 10px;
        margin-top: 150px;
    }
    
    .banner-content h2 {
        color: #fff;
        font-size: 40px;
        text-transform: uppercase;
        display: inline-block;
        padding: 0px 30px 0px 7px;
        margin-bottom: 20px;
    }
    .banner-content p {
        width: 100%;
        color: black;
        font-size: 19px;
        padding-bottom: 35px;
    }

    /* contact us  */
    .contactSection {
        display: flex;
        flex-direction: column;
    }

    .contactSection .leftCblock,
    .contactSection .rightCBlock {
        width: 100%;
        float: none;
    }

    .contactSection .rightCBlock .desc {
        width: 90%;
        position: relative;
        margin: 80px auto;
        padding: 35px 30px;
        background: #fff;
        box-shadow: 0 0 10px #f1f1f1;
    }
    form {
        width: 100%;
    }
}

/* ipad air, pro,  surface pro, next hub*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .background-slider {
        width: 100%;
        height: 600px; 
        background-size: cover;
        background-position: center;
        position: relative;
    }
    .banner-content {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-60%, -70%);
        text-align: left;
        color: white;
    }
    .banner-content h6 {
        color: #111111;
        font-size: 20px;
        text-transform: capitalize;
        margin-bottom: 10px;
        margin-top: 150px;
    }
    
    .banner-content h2 {
        color: #fff;
        font-size: 50px;
        text-transform: uppercase;
        display: inline-block;
        padding: 5px 80px 5px 7px;
        margin-bottom: 20px;
    }
    .banner-content p {
        width: 100%;
        color: black;
        font-size: 20px;
        padding-bottom: 35px;
    }
    /* about the daycare  */
    .aboutSection {
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
        height: auto;
        display: flex; 
        flex-direction: column; 
    }

    .leftSide {
        width: 100%; 
        padding: 0;
    }

    .rightSide {
        width: 100%; 
        padding: 0;
        margin-bottom: 0.5rem;
        text-align: left; 
    }

    .rightSide ul li a {
        padding: 5px 5px 5px 20px; 
        text-align: left;
    }

    .rightSide h3 {
        text-align: left;
    }

    .rightSide ul li span {
        display: block;
        color: #a1cc3a;
        text-decoration: none;
        box-sizing: border-box;
        padding: 5px 5px 5px;
        margin: 16px 0;
        position: relative;
    }
    /* programs  */
    .programs {
        width: 100%;
        flex-direction: column;
    }
    .programParts {
        width: 100%;
    }

    /* qualified  */
    .qualified {
        width: 100%;
        padding: 75px 0;
        background: #fff;
    }
    .container {
        width: 100%;
        padding: 0 15px;
        flex-direction: row;
    }
    .parts {
        width: 100%; 
        margin-bottom: 3rem;
    }
    .left-text {
        text-align: center;
        position: relative;
        right: 0;
    }
    
    /* Contact section */
    .contactSection {
        display: flex;
        flex-direction: column;
    }

    .contactSection .leftCblock,
    .contactSection .rightCBlock {
        width: 100%;
        float: none;
    }

    .contactSection .rightCBlock .desc {
        width: 80%;
        position: relative;
        margin: 80px auto;
        padding: 35px 35px;
        background: #fff;
        box-shadow: 0 0 10px #f1f1f1;
    }
    form {
        width: 100%;
    }

}